#### Changelog

1. Q13.3 How many clams that are wider than 0.4, have first name "Monster"?   
2. Q13.4 What was the second name of a clam captured at March, 8, that was longer than 0.65 and wider than 0.57?
3. Q15.2 Create a new column `area` using diameter, length and considering that a clam is a perfect rectangle.
4. Q19.4 `density_by_age` groupby `age_cat` and compute average density of a clam.

# Assignment 1. Sea Ears.
by Anvar Kurmukov,
updated by Bogdan Kirillov

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using the data on a species of clam called abalone, also known as "Sea ears". This dataset is in public domain and can be obtained from Delve: http://www.cs.toronto.edu/~delve/data/abalone/desc.html For this task, we have modified the dataset slightly, so you could try out some complicated data manipulation techniques while keeping the dataset as simple as possible. So, in our case, each abalone clam is a promising rapper who is ready for a debut mixtape.

You need to place "sea_ears.csv" file in the same directory as this notebook.

In [1]:
import numpy as np
import pandas as pd

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `sea_ears.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [2]:
COLAB_P = False
if COLAB_P:
  print("Upload your file, then read it with pd.read_csv()")
  from google.colab import files
  uploaded = files.upload()
  fn = list(uploaded.keys())[0]
  print("File is uploaded to ", fn)
else:
  print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

Place your file to the same directory as the notebook, then read your file with pd.read_csv()

In [3]:
# Load the data

df = pd.read_csv("sea_ears.csv", index_col=0)

In [4]:
# Observe top 10 observations (int)
df.head()

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
0,835,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0
1,540,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0
2,2295,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0
3,858,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0
4,2329,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0

### Let's parse my question numbers

In [50]:
question_list = pd.read_csv("Student questions 2021 - Sheet1.csv")

In [51]:
question_list.index = question_list.Student

In [172]:
my_questions = []
for idx, num in enumerate(list(question_list.loc['Prosvirin, Kirill', :])):
    my_questions.append(': '.join(['Q' + str(idx), num]))
my_questions = my_questions[1:]

In [173]:
my_questions

['Q1: 4,2',
 'Q2: 2,1',
 'Q3: 3,1',
 'Q4: 1,2',
 'Q5: 4,1',
 'Q6: 4,5',
 'Q7: 4,2',
 'Q8: 1,4',
 'Q9: 1,4',
 'Q10: 3,1',
 'Q11: 5,3',
 'Q12: 2,1',
 'Q13: 5,4',
 'Q14: 3,2',
 'Q15: 1,2,3,4,5',
 'Q16: 1,2',
 'Q17: 1,2,3,4,5,6',
 'Q18: 5,2',
 'Q19: 2,4',
 'Q20: 1,2',
 'Q21: 1,2',
 'Q22: 1,2',
 'Q23: 1,2',
 'Q24: 1,2']

In [ ]:
# Q1.1 What is the length of an abalone with id 986?
### Q1.2 How many rings the fifth abalone with "FN" == "Fresh" has?
# Q1.3 How many rings the sample with id 67 has?
### Q1.4 What is the `Height` of a thirty fourth sample with `Rings` == 10?
# Q1.5 How heavy as a whole is the female abalone #6?

# Please note that for some questions there are several answers. If that's the 
# case, show all of them. Also for some, there is none. If so, show the shape 
# of returned series in your output.

In [76]:
# Observe last 10 observations (int)
df.head()

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
0,835,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0
1,540,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0
2,2295,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0
3,858,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0
4,2329,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0

### Q1.2

In [102]:
num_of_rings = df[df['FN'] == 'Fresh'].iloc[4, :].Rings
print(f'Q1.2: Number of rings is {num_of_rings}')

Q1.2: Number of rings is 8.0

### Q1.4

In [94]:
height_34th = df[df['Rings'] == 10].iloc[33].Height
print(f'Q1.4: The height is {height_34th}')

Q1.4: The height is 0.18

In [ ]:
### Q2.1 What is the diameter of a tenth abalone with second name Flow?
### Q2.2 What is the weight of a shell for 99-th abalone with first name Lil'?
# Q2.3 How many rings twelfth abalone with first name MC' has?
# Q2.4 How many rings the 666-th abalone has?
# Q2.5 What is the gender of 1337-th abalone?

In [103]:
# Increase maximal displayed columns
pd.options.display.max_columns = 30

In [104]:
# Observe top 10 observations again
# Is there any new columns displayed?
df.head()

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
0,835,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0
1,540,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0
2,2295,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0
3,858,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0
4,2329,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0

In [107]:
# Print all the columns/features names (int)
print(list(df))

['id', 'FN', 'SN', 'LN', 'Captured', 'Sex', 'Length', 'Diam', 'Height', 'Whole', 'Shucke', 'Viscera', 'Shell', 'Rings']

### Q2.1

In [146]:
diameter = df[df['SN'] == 'Flow'].iloc[9].Diam
print(f'Q2.1: Diameter is {diameter}')

Q2.1: Diameter is 0.4515932810213069

### Q2.2

In [147]:
shell_weight = df[df['FN'] == 'Lil\''].iloc[98].Shell
print(f'Q2.2: Weight of the shell is {shell_weight}')

Q2.2: Weight of the shell is 0.22

In [ ]:
### Q3.1 How many columns end with a vowel?
# Q3.2 How many columns start with a vowel?
### Q3.3 Which columns are associated with the weight of the clam? 
### Как я понимаю, смысл этого задания был в поиске подстроки weight в исходных колонках. 
### Но, видимо, при обработке датасета вы оставили только Whole, Shucke, Viscera, Shell)))
# Q3.4 How many columns have `th` in their names?

**Примечание.** Сделаем вид, что тут нормальные колонки:

In [149]:
df.columns = ['id', 'FN', 'SN', 'LN', 'Captured', 'Sex', 'Length', 'Diam', 'Height',
       'Whole_weight', 'Shucke_weight', 'Viscera_weight', 'Shell_weight', 'Rings']

### Q3.1

In [121]:
import re

In [151]:
end_vowel_num = 0
for col in list(df):
    result = re.search('[aeiou]$', col)
    if result is not None:
        end_vowel_num += 1

In [152]:
print(f'Q3.1: The number of columns end with a vowel is {end_vowel_num}')

Q3.1: The number of columns end with a vowel is 0

### Q3.2

In [158]:
weight_col_num = []
for col in list(df):
    result = re.search(r'weight', col)
    if result is not None:
        weight_col_num.append(col)

In [161]:
print(f'Q3.1: The columns are associated with the weight is {weight_col_num}')

Q3.1: The columns are associated with the weight is ['Whole_weight', 'Shucke_weight', 'Viscera_weight', 'Shell_weight']

In [ ]:
# Print data size (int)

# Q4.1 How many observations are in the data?
# Q4.2 How many features are in the data?

### Q4.1

In [165]:
print(f'Amount of observations is {len(df)}')

Amount of observations is 5700

### Q4.2

In [166]:
print(f'Amount of features is {len(list(df))}')

Amount of features is 14

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [174]:
my_questions

['Q1: 4,2',
 'Q2: 2,1',
 'Q3: 3,1',
 'Q4: 1,2',
 'Q5: 4,1',
 'Q6: 4,5',
 'Q7: 4,2',
 'Q8: 1,4',
 'Q9: 1,4',
 'Q10: 3,1',
 'Q11: 5,3',
 'Q12: 2,1',
 'Q13: 5,4',
 'Q14: 3,2',
 'Q15: 1,2,3,4,5',
 'Q16: 1,2',
 'Q17: 1,2,3,4,5,6',
 'Q18: 5,2',
 'Q19: 2,4',
 'Q20: 1,2',
 'Q21: 1,2',
 'Q22: 1,2',
 'Q23: 1,2',
 'Q24: 1,2']

In [176]:
# Display number of not NaN's in every column (int)

### Q5.1 How many NA values are in the `Whole` column?
# Q5.2 How many NA values are in the `Rings` column?
# Q5.3 How many NA values are in the `Viscera` column?
### Q5.4 How many NA values are in the `FN` column?
# Q5.5 How many explicit NA values are in the `Shell` column?

df.count()

id                5700
FN                5700
SN                5700
LN                5700
Captured          5700
Sex               5700
Length            5545
Diam              5079
Height            4931
Whole_weight      5687
Shucke_weight     4334
Viscera_weight    5158
Shell_weight      4938
Rings             4960
dtype: int64

### Q5.1

In [192]:
print(f'Amount of NA in Whole column is {df.Whole_weight.isna().sum()}')

Amount of NA in Whole column is 13

### Q5.4

In [193]:
print(f'Amount of NA in FN column is {df.FN.isnull().sum()}')

Amount of NA in FN column is 0

In [ ]:
# Count number of unique values in every column (int)

# Q6.1 How many unique values are in the `FN` column?
# Q6.2 How many unique values are in the `SN` column?
# Q6.3 How many unique values are in the `Rings` column?
### Q6.4 How many unique values are in the `Viscera` column?
### Q6.5 How many unique values are in the `Shell` column?

### Q6.4

In [197]:
df.Viscera_weight.nunique()

1861

### Q6.5

In [199]:
df.Shell_weight.nunique()

1687

In [ ]:
# Count frequency of the values in different columns (list of ints in ascending order)
# You could select a column using same syntax as for selecting 
# a key from a dictionary: `data[colname]

# Q7.1 For every unique `FN` value give its number of occurences.
### Q7.2 For every unique `SN` value give its number of occurences.
# Q7.3 For every unique `Rings` value give its number of occurences.
### Q7.4 For every unique `Sex` value give its number of occurences.
# Q7.5 For every unique `LN` value give its number of occurences.

### Q7.2

In [237]:
unique_fn = df.groupby('FN').aggregate({'FN': 'count'}).rename(columns={'FN': 'number of occurences'})
unique_fn = unique_fn.sort_values('number of occurences')

In [238]:
unique_fn_dct = unique_fn.to_dict()['number of occurences']
unique_fn_dct

{'Baby': 452,
 'Big': 454,
 'DJ': 454,
 'Monster': 458,
 'Dungeon': 465,
 'Boss': 474,
 'Kid': 477,
 'MC': 482,
 "Lil'": 488,
 'Boy': 489,
 'Fresh': 490,
 'Jalapeno': 517}

### Q7.4

In [239]:
unique_sex = df.groupby('Sex').aggregate({'Sex': 'count'}).rename(columns={'Sex': 'number of occurences'})
unique_sex = unique_sex.sort_values('number of occurences')

In [240]:
unique_sex_dct = unique_sex.to_dict()['number of occurences']
unique_sex_dct

{'F': 1775, 'I': 1849, 'M': 2076}

In [230]:
# Display basic data statistics using .describe()
df.describe()

,id,Length,Diam,Height,Whole_weight,Shucke_weight,Viscera_weight,Shell_weight,Rings
count,5700.000000,5545.000000,5079.000000,4931.000000,5687.000000,4334.000000,5158.000000,4938.000000,4960.000000
mean,2849.500000,0.547853,0.424571,0.154530,0.849702,0.361736,0.198908,0.253074,9.826613
std,1645.592598,0.130588,0.108177,0.059298,0.493289,0.222923,0.118113,0.145495,3.378726
min,0.000000,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,0.000000
25%,1424.750000,0.465000,0.355000,0.120000,0.458250,0.188125,0.106154,0.140500,8.000000
50%,2849.500000,0.561707,0.435000,0.150000,0.816500,0.338750,0.188687,0.245000,9.000000
75%,4274.250000,0.635000,0.500000,0.176963,1.177500,0.504000,0.274500,0.345000,11.000000
max,5699.000000,0.968190,0.794032,1.130000,2.875274,1.488000,0.760000,1.044635,29.000000

In [ ]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

### Q8.1 What are the max, min, mean and the std of the `Viscera` column?
# Q8.2 What are the max, min, mean and the std of the `Rings` column?
# Q8.3 What are the max, min, mean and the std of the `Length` column?
### Q8.4 What are the max, min, mean and the std of the `Diam` column?
# Q8.5 What are the max, min, mean and the std of the `Whole` column?

### Q8.1

In [234]:
df.Viscera_weight.describe().to_dict()

{'count': 5158.0,
 'mean': 0.19890765961432708,
 'std': 0.11811260417361827,
 'min': 0.0005,
 '25%': 0.106154148065186,
 '50%': 0.18868681502007784,
 '75%': 0.2745,
 'max': 0.76}

### Q8.4

In [235]:
df.Diam.describe().to_dict()

{'count': 5079.0,
 'mean': 0.4245708219287648,
 'std': 0.10817656508861156,
 'min': 0.055,
 '25%': 0.355,
 '50%': 0.435,
 '75%': 0.5,
 'max': 0.79403211428216}

In [ ]:
# Display data types of all columns (int)

### Q9.1 How many columns have `object` data type?
# Q9.2 How many columns have `int64` data type?
# Q9.3 How many columns have `float64` data type?

# Display data types of all columns (list of str)
### Q9.4 What are the columns with dtype == `float64`?
# Q9.5 What are the columns with dtype == `int64`?

### Q9.1

In [288]:
list(df.select_dtypes(include='object'))

['FN', 'SN', 'LN', 'Captured', 'Sex']

### Q9.4

In [292]:
list(df.select_dtypes(include='float64'))

['Length',
 'Diam',
 'Height',
 'Whole_weight',
 'Shucke_weight',
 'Viscera_weight',
 'Shell_weight',
 'Rings']

In [437]:
df = df.dropna()

# 3. Data selection

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [293]:
my_questions

['Q1: 4,2',
 'Q2: 2,1',
 'Q3: 3,1',
 'Q4: 1,2',
 'Q5: 4,1',
 'Q6: 4,5',
 'Q7: 4,2',
 'Q8: 1,4',
 'Q9: 1,4',
 'Q10: 3,1',
 'Q11: 5,3',
 'Q12: 2,1',
 'Q13: 5,4',
 'Q14: 3,2',
 'Q15: 1,2,3,4,5',
 'Q16: 1,2',
 'Q17: 1,2,3,4,5,6',
 'Q18: 5,2',
 'Q19: 2,4',
 'Q20: 1,2',
 'Q21: 1,2',
 'Q22: 1,2',
 'Q23: 1,2',
 'Q24: 1,2']

In [307]:
np.sort(df.Rings.unique())

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 29.])

In [ ]:
# Select rows by position (int) 

### Q10.1 What is the first name of a clam on row 777?
# Q10.2 What is the last name of a clam on row 999?
### Q10.3 How long is a clam from row 1337?
# Q10.4 What is the gender of a clam from row 314?
# Q10.5 When was the clam with row of 2718 captured?

### Q10.1

In [308]:
df.iloc[776].FN

'DJ'

### Q10.3

In [297]:
df.iloc[1336].Length

0.44

In [ ]:
# Select rows by index (int)

# Q11.1 What is the gender of a clam with index 1102?
# Q11.2 How long is a clam with index 5695?
### Q11.3 How heavy is a clam with index 1045 when still alive?
# Q11.4 When was the clam with index 252 captured?
### Q11.5 What is the middle name of a clam with index 38?

### Q11.3

In [312]:
df.iloc[1044].Whole_weight

0.187

### Q11.5

In [310]:
df.iloc[37].SN

'Full'

In [ ]:
# Using mask or .query syntax select rows/columns (int)

### Q12.1 How many clams have less than 5 rings?
### Q12.2 When were clams named "Boy Rock Killer" captured?
# Q12.3 How many clams have length more than 0.1?
# Q12.4 How many clams are heavier (in shell) than 0.3?
# Q12.5 How many clams were captured at 24 of July?

In [316]:
df[df.Rings < 5].shape[0]

74

In [327]:
query = (df.FN == 'Boy') & (df.SN == 'Rock') & (df.LN == 'Killer')
list(df.loc[query].Captured)

['20200103T000000',
 '20201021T000000',
 '20200618T000000',
 '20200714T000000',
 '20201215T000000']

In [ ]:
# Using mask or .query syntax select rows/columns (int)

# Q13.1 How many clams were captured in the fall? Including both start and end day.
# Q13.2 How many clams that were captured in the fall, have first name "Lil'"?
# Q13.3 How many clams that are wider than 0.4, have first name "Monster"?
### Q13.4 What was the second name of a clam captured at March, 8, that that was longer than 0.65 and wider than 0.57?
### Q13.5 How many rings does an infant clam that was captured in June and has shucked weight between 0.54 and 0.55 have?

In [329]:
df.Captured

0       20200621T000000
1       20200308T000000
2       20200222T000000
3       20200222T000000
4       20201219T000000
             ...
5695    20200512T000000
5696    20201215T000000
5697    20201206T000000
5698    20200101T000000
5699    20200119T000000
Name: Captured, Length: 4180, dtype: object

In [334]:
data_mask = pd.to_datetime(df.Captured) == '2020-03-08'

In [346]:
df.loc[(df.Length > 0.65) & (df.Diam > 0.57) & data_mask].SN.item()

'Flow'

In [ ]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q14.1 What was the average whole weight of clams named "Kitty"?
### Q14.2 What was the whole weight of the heaviest Lil' clam? (FN)
### Q14.3 What was the weight of the lightest in terms of whole weight clam captured in June?
# Q14.4 What is the median length of clams captured in April?
# Q14.5 What is the minimum diameter of clams named "Master"?

In [363]:
asdf = df.groupby('FN', as_index=False).aggregate({'Whole_weight': 'max'})

In [366]:
asdf[asdf.FN == 'Lil\'']

     FN  Whole_weight
9  Lil'        2.4925

# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to compute total area of the house as a sum of all sqft_ columns, or create a boolean column of whether the house has grade > 2 or anything else:
```
data['total_area'] = data[col1] + data[col2] + ...
data['high_value'] = data[col] > 5
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of total_area and high_value using .apply():
```
data['total_area'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['total_area'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['total_area'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [375]:
# create full_name column with concatenation of all clam names
df['full_name'] = df.FN + ' ' + df.SN + ' ' + df.LN

/var/folders/np/6kczpctn4j1dnzh73snlq9d80000gn/T/ipykernel_78694/2858693800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_name'] = df.FN + ' ' + df.SN + ' ' + df.LN

In [376]:
df

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole_weight,Shucke_weight,Viscera_weight,Shell_weight,Rings,full_name
0,835.0,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0,Kid College Machine
1,540.0,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0,Jalapeno Glam Machine
2,2295.0,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0,Baby Full Killer
3,858.0,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0,Kid Rock Head
4,2329.0,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0,Boy Block Death
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5696,1324.0,Jalapeno,Full,Head,20201215T000000,I,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,11.0,Jalapeno Full Head
5697,1242.0,Lil',Flow,Machine,20201206T000000,I,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,9.0,Lil' Flow Machine
5698,2842.0,Boss,Full,Killer,20200101T000000,M,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,9.0,Boss Full Killer
5699,2071.0,Baby,Glock,Machine,20200119T000000,F,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,9.0,Baby Glock Machine
full_name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [377]:
my_questions

['Q1: 4,2',
 'Q2: 2,1',
 'Q3: 3,1',
 'Q4: 1,2',
 'Q5: 4,1',
 'Q6: 4,5',
 'Q7: 4,2',
 'Q8: 1,4',
 'Q9: 1,4',
 'Q10: 3,1',
 'Q11: 5,3',
 'Q12: 2,1',
 'Q13: 5,4',
 'Q14: 3,2',
 'Q15: 1,2,3,4,5',
 'Q16: 1,2',
 'Q17: 1,2,3,4,5,6',
 'Q18: 5,2',
 'Q19: 2,4',
 'Q20: 1,2',
 'Q21: 1,2',
 'Q22: 1,2',
 'Q23: 1,2',
 'Q24: 1,2']

In [ ]:
# Create new columns using the old ones (new column in your DataFrame)

### Q15.1 Create a `age_in_years` column (age is the number of rings +1.5) using any method above
### Q15.2 Create a new column `area` using diameter, length and considering that a clam is a perfect rectangle
### Q15.3 Create a new column `density` by dividing volume (area multiplied by a fixed number of 0.05) by whole weight
### Q15.4 Create a new column `age_cat` by splitting a `age` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
### 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
### Q15.5 Create a new bool column `high_class` it is True if clam has 
### the proportion of shell in whole clam more or equal to 1

In [385]:
import warnings
warnings.filterwarnings("ignore")

### Q15.1

In [386]:
df['age_in_years'] = df.Rings + 1.5

### Q15.2

In [387]:
df['area'] = df.Diam * df.Length

### Q15.3

In [388]:
df['density'] = df.area * 0.05 / df.Whole_weight

### Q15.4

In [441]:
percent_0 = df.age_in_years.quantile(0)
percent_20 = df.age_in_years.quantile(0.2)
percent_40 = df.age_in_years.quantile(0.4)
percent_60 = df.age_in_years.quantile(0.6)
percent_80 = df.age_in_years.quantile(0.8)
percent_100 = df.age_in_years.quantile(1)

In [442]:
percent_lst = [percent_0, percent_20, percent_40, percent_60, percent_80, percent_100]
percent_lst

[2.5, 8.5, 10.5, 11.5, 13.5, 30.5]

In [443]:
def age_splitter(x):
    for i in range(len(percent_lst)):
        if x >= percent_lst[i] and x <= percent_lst[i + 1]:
            return i + 1

In [449]:
df['age_cat'] = df['age_in_years'].apply(age_splitter)
df

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole_weight,Shucke_weight,Viscera_weight,Shell_weight,Rings,full_name,age_in_years,area,density,age_cat
0,835.0,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0,Kid College Machine,9.5,0.15750,0.014397,2
1,540.0,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0,Jalapeno Glam Machine,16.5,0.18750,0.015522,5
2,2295.0,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0,Baby Full Killer,11.5,0.21580,0.013412,3
3,858.0,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0,Kid Rock Head,11.5,0.28560,0.012865,3
4,2329.0,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0,Boy Block Death,16.5,0.18720,0.016069,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,181.0,Big,Block,Head,20200512T000000,M,0.640,0.510,0.175,1.3680,0.5150,0.2660,0.5700,21.0,Big Block Head,22.5,0.32640,0.011930,5
5696,1324.0,Jalapeno,Full,Head,20201215T000000,I,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,11.0,Jalapeno Full Head,12.5,0.24860,0.014230,4
5697,1242.0,Lil',Flow,Machine,20201206T000000,I,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,9.0,Lil' Flow Machine,10.5,0.11165,0.021348,2
5698,2842.0,Boss,Full,Killer,20200101T000000,M,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,9.0,Boss Full Killer,10.5,0.28500,0.012838,2
5699,2071.0,Baby,Glock,Machine,20200119T000000,F,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,9.0,Baby Glock Machine,10.5,0.24860,0.014976,2

### Q15.5

In [452]:
df[df.Shell_weight >= 1]

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole_weight,Shucke_weight,Viscera_weight,Shell_weight,Rings,full_name,age_in_years,area,density,age_cat
281,163.0,Lil',Full,Death,20201013T000000,F,0.725,0.56,0.21,2.141,0.65,0.398,1.005,18.0,Lil' Full Death,19.5,0.406,0.009482,5

In [458]:
df['high_class'] = df.Shell_weight.apply(lambda x: True if x >= 1 else False)

In [ ]:
# Using mask or .query syntax select rows/columns (float)

### Q16.1 What is the average age of the clam of the high_class(=True)?
### Q16.2 What is the average area of the clam from highest age category?
# Q16.3 What is the maximal length amongst clams with the lowest age category?
# Q16.4 What is the most frequent gender amongst clams with the lowest age category?
# Q16.5 What is the minimal number of rings in clams with high_class=True?

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separete columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [ ]:
# Create new columns based on `Captured` column

# Q17.1 Convert date to datetime format
# Q17.2 Extract and store `year`
# Q17.3 Extract and store `month`
# Q17.4 Extract and store `day`
# Q17.5 Extract and store `weekday`
# Q17.6 Create a new column `age10` - the age of the clam in full decades (e.g. 9 year old clam - 0, 21 year old clam - 2)

from datetime import datetime

In [ ]:
# Drop column `Captured`

del df["Captured"]

In [ ]:
# Find some date related information from the data (int)

# Q18.1 What is the most popular capturing weekday?
# Q18.2 What is the most popular capturing month?
# Q18.3 What is the least popular capturing weekday?
# Q18.4 What is the median age of the clam? (float)
# Q18.5 How many clams were captured on the Day of Russia (June, 12)?

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By “group by” we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average area of houses with high grade you could compute average areas of the houses for every grade in a single command:
```
data.groupby('grade')['sqm_tot_area'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','grade'])['price'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','grade'])['price'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['condition','grade'])['bathrooms'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['condition'])['bathrooms'].median()
data['gp_feature'] = data['condition'].map(gp)
```
Now, if some house has condition == 2, its gp_feature will be equal to the median number of bathrooms amongst all houses with condition == 2.

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [ ]:
# Create some groupby features

# Q19.1 `whole_by_year` groupby `year` and compute median whole weight.
# Q19.2 `shell_by_weekday` groupby `weekday` and compute median shell weight.
# Q19.3 `area_by_age` groupby `age_cat` and compute average `area`.
# Q19.4 `density_by_age` groupby `age_cat` and compute average density of a clam.

In [ ]:
# Create some other groupby features
# for this task check out this answer:
# https://stackoverflow.com/questions/47913343/how-to-groupby-and-map-by-two-columns-pandas-dataframe

# Q20.1 `rings_fn` groupby `n_rings` and count average number of occurences of every unique first name
# Q20.2 `n_month` groupby `month` and count number of captured in each month

# 7. Building a regression model

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
-You may create or drop any features you want, except for the features which use age or number of rings (e.g. average number of rings from a clam of high class).

In [ ]:
# Q21 Drop all generated features which used age or number of rings column, e.g. rings_month, age_cat.
Y = df["age_in_years"].values

good_columns = 
Xdf = df[good_columns]

In [ ]:
# Optionally create or drop any features

In [ ]:
# Q22 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.train_test_split with test_size=0.33 and random_state=7

from sklearn.model_selection import train_test_split

train_ind, test_ind =

In [ ]:
# Fit predictive regression models.

# Q23.1 Use linear regression with l2 regularization (Ridge regression)
# Q23.2 Use decision tree regression
# Q23.3 Use k nearest neighbours regression

In [ ]:
# Use grid search to select optimal hyperparamters of your models.

# Q24.1 Alpha for a ridge regression
# Q24.2 Depth for the tree
# Q24.3 Number of neighbours for the knn

In [ ]:
# Compute train and test mean squared error for your best models (list of float).

# Q25.1 Train, test MSE using linear regression with l2 regularization
# Q25.2 Train, test MSE using decision tree regression
# Q25.3 Train, test MSE using k nearest neighbours regression

from sklearn.metrics import mean_squared_error

In [ ]:
# Compute train and test R^2 for your best models (list of float).

# Q26.1 Train, test R^2 using linear regression with l2 regularization
# Q26.2 Train, test R^2 using decision tree regression
# Q26.3 Train, test R^2 using k nearest neighbours regression

from scipy.stats import pearsonr

In [ ]:
# Q27 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells